# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pth
*.pt
*.ckpt

# Data
datasets/
data/
*.csv
*.pkl

# Logs
logs/
*.log

# AWS
.aws/

# Neuron specific
neuron_compile_cache/